// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    margin: 0px;
    background: #a770ef; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.image {
    height: 100vh;
}

.banner {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.container {
    #background-color: #0e2a60;
    #border: 1px solid red;
    width: 100%;
    height: 100%;
    padding-left: 3vh;
    padding-top: 6vh;
    padding-bottom: 1vh;
}

.container_weather {
    #background-color: #0e2a60;
    #border: 1px solid red;
    width: 100%;
    height: 100%;
    padding-left: 2vh;
    padding-top: 21vh;
    padding-bottom: 5vh;
}

.first {
display: inline-block;
margin:0px auto;
}

h1 {
    font-family: 'Playfair Display', serif;
    color: #6c49eb;
    padding: 0px;
    margin: 0px;
    margin-top: 17vh;
    margin-bottom: 3vh;
    font-size: 12vh;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 4vh;
    padding: 0px;
    margin: 0px;
    color: #6c49eb;
}

.phrase {
    font-family: 'Raleway', sans-serif;
    font-size: 7vh;
    padding: 0px;
    margin: 0px;
    color: #6c49eb;
}

.card-product {
    overflow: hidden;
    border-radius: 15px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    height: 10vh;
    width: 45vh;
    background: white;
    display: flex;
    align-items: center;
  }
  
  .card-product img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
  
  .card-product h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

.card-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.input {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        align-content: space-between;
}

.box {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-content: space-evenly;
    align-items: center;
}

.card-product .card-product-infos {
    padding: 3vh;
    padding-top: 4vh;
}

.header {
    height: 0.5vh;
    padding-right: 2vh;
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

.secrets {
    font-family: 'Fascinate', cursive;
    color: #6c49eb;
    font-size: 3vh;
}

.dat {
    font-family: 'Raleway', sans-serif;
    color: #6c49eb;
    font-weight: bold;
    padding-right: 3vh;
    font-size: 3vh;
}

.city {
    font-family: 'Raleway', sans-serif;
    color: #2a2c58;
    font-weight: bold;
    font-size: 3vh;
    margin: 0px;
}

.temp {
    font-family: 'Raleway', sans-serif;
    color: #2a2c58;
    font-weight: normal;
    padding-top: 1vh;
    font-size: 2 vh;
    margin: 0px;

}

.secrets:hover{
    color: #9e86f6;
}

.imagefront {
    z-index: 20;
    opacity: 0;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px;
}

.secrets:hover + .imagefront{
    opacity: 1;
}

.anni-container {
    background: #a801f6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #333399, #f04bff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #333399, #f04bff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 3vh solid #2a2c58;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.anniversary {
    padding-top: 3vh;
    padding-bottom: 3vh;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.anni_font {
    color: #f3d6ff;
    font-size: 12vh;
}

.number_font {
    color: #f3d6ff;
    font-size: 8vh;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin: 0px;
}
  
